* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.center{
  justify-content: center;
}
.centerBoth{
  justify-content: center;
  align-items: center;
}
.grow{
  flex-grow: 1;
}

.flex-right{
  justify-content: flex-end;
}

.width {
  width: 100%;
  margin: 0 auto;
  @media only screen and (min-width: @tablet) {
    max-width: @tablet;
  }
}