$primary: #058199;
$size-6: 18px;
$lobster:'Lobster', cursive!important;

$family-sans-serif: 'Raleway', sans-serif;

@import "~bulma";


.lobster {
  font-family: $lobster;
}

.section.is-wide {
  padding-left: 0px;
  padding-right: 0px;
}