$primary: #058199;
$size-6: 18px;
$lobster:'Lobster', cursive!important;
$family-sans-serif: 'Raleway', sans-serif;
$tablet: 769px;
$desktop: 1000px;
$widescreen: 1192px;

@import "~bulma";
@import "animations";
@import "posts";
@import "wp";

#page {
  header {
    box-shadow: 1px 1px 1px;
    margin-bottom: 1em;
  }
  footer.footer {
    margin-top: 1em;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.5);
  }


  .lobster {
    font-family: $lobster;
  }

  .section.is-wide {
    padding-left: 0px;
    padding-right: 0px;
  }

  .pagination-next,
  .pagination-previous{
    overflow: hidden;
  }

  .button.is-primary.is-outlined:hover{
    a {color: white};
  }
}