.wp-caption {

}
.wp-caption-text {

}
.sticky {
position: fixed;
}
.screen-reader-text {

}
.gallery-caption {

}
.bypostauthor {

}
.alignright {
  text-align: right;
}
.alignleft {
text-align: left;
}
.aligncenter {
text-align: center;
}